nav.desktop {
    background-color: var(--bg-color);
    padding: 17.8px 5%;
    z-index: 3;
    position: sticky;
    top: 5.9rem;
    display: block;

    ul {
        display: flex;
        align-items: center;
        gap: 3rem;
        list-style: none;

        li {
            font-size: 0.7rem;
            cursor: pointer;
            transition: 0.3s;
            position: relative;

            a {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                color: var(--color-star);
                transition: .2s;
            }

            a.toggle {            
                font-size: 0.8rem;
                font-style: italic;

                &::before {
                    position: absolute;
                    content: "";
                    height: 0.17rem;
                    background-color: orange;
                    width: 100%;
                    bottom: -4px;
                }

            }
        }

    }
    
    li:hover {
        &::before {
            position: absolute;
            content: "";
            height: 0.17rem;
            background-color: orange;
            width: 100%;
            bottom: -4px;
            font-style: italic;
        }
    }
}

nav.mobile {
    display: none;
}

@media screen and (max-width: 640px) {
    nav.desktop {
        display: none;
    }
    
    nav.mobile {
        display: flex;
        padding: 8.7px 5%;
        z-index: 4;
        position: sticky;
        top: 6.593rem;
        background-color: var(--bg-color);

        ul {
            display: flex;
            list-style: none;
            width: 100%;
            justify-content: space-between;

            li {
                a {
                    font-size: 1.5rem;
                    color: var(--color-star);
                    transition: .4s;

                    &:hover {
                        color: var(--color-star2);
                    }
                }

                a.bg {
                    color: orange;
                }
            }
        }
    }

}

@media screen and (max-width: 430px) {
    nav.mobile {
        ul {
            li {
                a {
                    font-size: 1.25rem;
                }
            }
        }
    }
}