.car-container {
    flex: 1;
    margin: 1.5rem 0 1.5rem 0;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
    h2 {
        text-transform: uppercase;  
        color: var(--color-h2); 
    }
    
    span {
        font-size: 0.9rem;
        margin-top: -0.5rem;
        color: var(--color-h2);
    }
    
    .container-infoCar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;

        .allProduct-car {
            width: 70%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1rem;

            .product {
                background-color: var(--bg-color-car);
                width: calc((65% / 1.327) - 1rem);
                height: 15rem;
                border-radius: 0.4rem;
                overflow: hidden;
                display: flex;

                img {
                    object-fit: cover;
                    height: 100%;
                    width: 50%;
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 1rem;
                    align-items: flex-start;
                    color: var(--color-item);

                    button {
                        color: red;
                        border: none;
                        background-color: transparent;
                        font-size: 1.1rem;
                        cursor: pointer;
                    }
                }
            }
        }

        .finish-buy {
            position: sticky;
            top: 11rem;
            display: flex;
            flex-direction: column;
            background-color: var(--bg-color-car);
            padding: 1rem;
            border-radius: 0.4rem;
            height: 15rem;
            width: 30%;
            justify-content: space-between;

            h3 {
                text-transform: uppercase;
                font-size: 1.1rem;
                color: var(--color-item);
            }

            div {
                display: flex;
                justify-content: space-between;
                color: var(--color-item);
            }

            .arc {
                border-top: 1px solid var(--color-item);
                padding-top: 0.5rem;
            }

            button {
                background-color: var(--color-star);
                color: var(--color-default);
                border: none;
                padding: 0.5rem;
                border-radius: 0.3rem;
                text-transform: uppercase;
                cursor: pointer;
                font-weight: 500;
                transition: .3s;

                &:hover {
                    background-color: var(--color-star2);
                }
            }
        }
    }
}

@media screen and (max-width: 948px) {
    .car-container {
        h2 {
            font-size: 1.1rem;
        }

        span {
            font-size: 0.9rem;
        }

        .allProduct-car {
            .product {
                .info {
                    span {
                        font-size: 0.8rem;
                    }

                    strong {
                        font-size: 0.8rem;
                    }
                }
            }
        }

        .container-infoCar {
            .finish-buy {
                h3 {
                    font-size: 0.9rem;
                }

                div {
                    span {
                        font-size: 0.8rem;
                    }

                    strong {
                        font-size: 0.8rem;
                    }
                }

                button {
                    font-size: 0.7rem;
                }
            }
        }
    }
}

@media screen and (max-width: 790px) {
    .car-container {
        .container-infoCar {

            .allProduct-car {
                width: 60%;

                .product {
                    width: calc((65% / 0.65) - 1rem);
                }
            }

            .finish-buy {
                width: 40%;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .car-container {
        .container-infoCar {
            flex-direction: column;

            .allProduct-car {
                width: 100%;

                .product {
                    width: 100%;
                }
            }

            .finish-buy {
                width: 100%;
                margin-top: 1rem;
                z-index: 3;
            }
        }
    }
}