.individual-data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 20rem;
    width: 80%;
}

img {
    flex: 1;
    height: 100%;
}

.container-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .name-price {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        span {
            font-size: 1.5rem;
        }

        strong {
            font-size: 0.85rem;
        }
    }

    .description {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        p {
            text-align: justify;
            line-height: 1.8em;
            font-size: 0.9rem;
        }
    }

    button {
        background-color: var(--color-star);
        border: none;
        color: var(--color-default);
        font-weight: bold;
        padding: 0.5rem;
        border-radius: 0.3rem;
        font-size: 0.8rem;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
        transition: .3s;
        cursor: pointer;
    }
}