.cardProduct {
    background-color: var(--color-default);
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    gap: .7rem;

    .img_ {
        width: 100%;
        height: 15rem;
        padding: -0.7rem -0.7rem 0 -0.7rem;
        cursor: pointer;
        object-fit: cover;
    }

    span, small {
        padding-left: .7rem;
        color: var(--color-item);
    }

    small {
        padding-bottom: .9rem;
    }
}

@media screen and (max-width: 1000px) {
    .cardProduct {
        width: calc(100% / 3.5 );
    }
}

@media screen and (max-width: 645px) {
    .cardProduct {
        width: calc(100% / 2.3);

        span {
            font-size: 0.9rem;
        }
    }
}