@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');

:root {
  --color-star: #9f3fbb;
  --color-default: #fff;
  --color-item: #000;
  --bg-color: #dfdbdb;
  --bg-color-footer: #b2aecb;
  --color-star2: #82219f;
  --placeholder-color: #8b7f7f;
  --bg-input: #dfdbdb;
  --color-h2: #000;
  --bg-color-car: #fff;
}

.dark-mode:root {
  --color-default: #3e054f;
  --bg-color: #17021c;
  --color-star: #fff;
  --color-item: #fff;
  --color-star2: #dfdbdb;
  --bg-color-footer: #472751;
  --placeholder-color: #cfcfcf;
  --bg-input: #a611c9;
  --color-h2: #a611c9;
  --bg-color-car: #251531;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  transition: .4s;
}

body {
  background-color: var(--bg-color);
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
  position: relative;
}